.jumbotron
  .container.text-center
    = image_tag("header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "73px")

.filter-nav
  .container
    .row
      %ul.nav.nav-pills.col-lg-11
        %li.btn-default.btn-popular
          = link_to "Popular", "#", id: 'btn-popular'
        %li.btn-default.btn-popular
          = link_to "Newest", "#", id: 'btn-newest'
      = link_to "VIEW TAGS", "tags#index", class: "btn btn-default col-lg-1"

.container.proto-list
  .row.proto-zone
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate(@prototypes)
  